footer {
  background-color: $color-black;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo__img {
    margin-right: 110px;
  }
}

.footer__info {
  display: flex;
  margin-top: 90px;
  margin-bottom: 100px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding-top: 240px;
}
