.welcom {
  padding-bottom: 90px;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.welcom__info {
  padding-top: 165px;
}

.welcom__title {
  color: $color-white;
  font-size: 79px;
  font-family: Athelas;
  margin-bottom: 50px;
}

.welcom__video {
  display: flex;
  justify-content: end;
  gap: 17px;

  .video__img {
    width: 87px;
    height: 87px;
  }

  .video__description {
    display: flex;
    align-items: center;
    color: $color-white;
    font-family: Athelas;
    font-size: 18px;
    width: 160px;
  }
}