* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.upper__container {
  background: url(../../assets/fon_shapka.png);
  background-repeat: no-repeat;
}

@font-face {
  font-family: Athelas;
  src: url(../../fonts/Athelas-Bold.ttf), url(../../fonts/Athelas-BoldItalic.ttf), url(../../fonts/Athelas-Italic.ttf), url(../../fonts/Athelas-Regular.ttf);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  width: 715px;
}
.navigation .nav__list {
  list-style-type: none;
}
.navigation .nav__link {
  text-decoration: none;
  color: #fff;
  font-family: Athelas;
  font-size: 20px;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 60px;
}

.welcom {
  padding-bottom: 90px;
}
.welcom .wrapper {
  display: flex;
  justify-content: space-between;
}

.welcom__info {
  padding-top: 165px;
}

.welcom__title {
  color: #fff;
  font-size: 79px;
  font-family: Athelas;
  margin-bottom: 50px;
}

.welcom__video {
  display: flex;
  justify-content: end;
  gap: 17px;
}
.welcom__video .video__img {
  width: 87px;
  height: 87px;
}
.welcom__video .video__description {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Athelas;
  font-size: 18px;
  width: 160px;
}

.company {
  background-color: black;
}
.company .wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.company__info {
  width: 460px;
}

.company__title {
  font-family: Athelas;
  font-size: 48px;
  line-height: 50px;
  margin-bottom: 64px;
}
.company__title .bold {
  font-size: 85px;
}

.company__desciption {
  font-family: Athelas;
  font-size: 22px;
}

.clock__fone {
  display: none;
  width: 440px;
  height: 560px;
  background-color: #131618;
}

.clock__uper {
  height: 415px;
}

.clock__down {
  height: 300px;
}

.cooperation {
  background-color: #f1f1f1;
}
.cooperation .wrapper {
  display: flex;
  justify-content: space-between;
}

.cooperation__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cooperation__info .cooperation__title {
  font-family: Athelas;
  font-size: 48px;
  color: black;
}
.cooperation__info .cooperation__title .cooperation__plus {
  font-size: 85px;
}
.cooperation__info .cooperation__description {
  font-family: Athelas;
  font-size: 30px;
  color: black;
}

.cooperating__img {
  margin: 55px 0 100px 0;
}

.production {
  background-color: black;
}

.production__title {
  font-family: Athelas;
  font-size: 48px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 512px;
  margin-bottom: 120px;
  padding-top: 146px;
}
.production__title .production__plus {
  font-size: 85px;
}

.production__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 70px;
  padding-bottom: 212px;
}
.production__cards .production__card {
  width: 610px;
}
.production__cards .production__card .card__img {
  margin-bottom: 70px;
}
.production__cards .production__card .card__info {
  width: 574px;
  display: flex;
  justify-content: space-between;
  gap: 22px;
}
.production__cards .production__card .card__info .card__number {
  font-family: Athelas;
  font-size: 96px;
}
.production__cards .production__card .card__info .card__description {
  font-family: Athelas;
  font-size: 22px;
}

.invite {
  background-color: #f1f1f1;
}
.invite .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 58px;
}

.invite__img {
  margin: 66px 0 114px 0;
}

.invite__info {
  width: 680px;
  display: flex;
  flex-direction: column;
  margin-top: 171px;
}
.invite__info .invite__title {
  color: black;
  font-size: 64px;
  font-family: Athelas;
}
.invite__info .invite__description {
  color: black;
  font-family: Athelas;
  font-size: 30px;
  width: 397px;
}/*# sourceMappingURL=main.css.map */